{% extends "base.html.twig" %}

{% block title %}Manage CMS - CMS Garden CMS Compass {%  endblock %}

{% block body %}

    <a href="{{ path('admin_list_cms') }}">Back to list of CMS</a>

    <h1>Details about CMS {{ name }}</h1>

    <h2>General data</h2>

    <dl>
        <dt>Name</dt>
        <dd>{{ name }}</dd>
        <dt>Homepage</dt>
        <dd><a href="{{ homepage }}">{{ homepage }}</a></dd>
        <dt>Description</dt>
        <dd>{{ description}}</dd>
    </dl>

    <h2>Properties</h2>

    {% if allRequiredPropertiesSet == false %}
        <div class="warning">
            Not all required properties have been set for this CMS. Missing 
            properties:

            <ul>
                {% for propertyDef in defsForMissingProperties %}
                    <li>
                        {{ propertyDef.title.en }} (<code>{{ propertyDef.name }}</code>)
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    <form action="{{ path('admin_add_new_cms_property', {'cmsId': cmsId}) }}"
          method="POST">
        <select id="property_to_add" name="property_to_add">
            {% for propertyDef in unusedPropertyDefs %}
                <option id="{{ propertyDef.name }}"
                        value="{{ propertyDef.name }}">
                    {{ propertyDef.title.en }}
                </option>
            {% endfor %}
        </select>
        <button type="submit">Add</button>
    </form>
    <!--<a href="{{ path('admin_add_new_cms_property', {'cmsId': cmsId}) }}">Add property</a>-->
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Title</th>
                <th>Required</th>
                <th>Value</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for property in properties %}
                <tr>
                    <td><code>{{ property.propertyDefinition.name }}</code></td>
                    <td>{{ property.propertyDefinition.title.en }}</td>
                    <td>
                        {% if property.propertyDefinition.required == true %}
                            true
                        {% else %}
                            false
                        {% endif %}
                    </td>
                    <td>
                        {% if property.propertyDefinition.name == 'release_date' %}
                            {{ property.value|date('Y-m-d') }}
                        {% else %}
                            {{ property.value }}
                        {% endif %}
                    </td>
                    <td>
                        <a href="{{ path('admin_edit_cms_property', {'cmsId': cmsId, 'propertyDefName': property.propertyDefinition.name}) }}">Edit</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}