{% extends "base.html.twig" %}

{% block title %}
    {% if createProperty == true %}
        Add value for property {{ propertyDef.title.en }} to CMS {{ cms.name }}
    {% else %}
        Edit value of property {{ propertyDef.title.en }} for CMS {{ cms.name }}
    {% endif %}
{% endblock %}

{% block body %}
    <h1>
        {% if createProperty == true %}
            Add value for property {{ propertyDef.title.en }} to CMS {{ cms.name }}
        {% else %}
            Edit value of property {{ propertyDef.title.en }} for CMS {{ cms.name }}
        {% endif %}
    </h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="save-button">
        {% if createProperty == true %}
            Add property
        {% else %}
            Save property
        {% endif %}
    </button>
    <a href="{{ path('admin_show_cms_details', {'cmsId': cms.cmsId}) }}">Cancel</a>
    {{ form_end(form) }}
{% endblock %}
