<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}

            {% stylesheets 'assets/css/admin/*' filter='scssphp' output='admin/cms-compass.css' 
                "assets/scss/admin/cms-compass.scss"
                "assets/css/admin/base.css"
            %}
            <link rel="stylesheet" href="{{ asset_url }}">
            {% endstylesheets %}
        {% endblock %}
        <link rel="stylesheet" href="{{ asset('assets/font-awesome/css/font-awesome.min.css')}}">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}">
    </head>
    <body>
        <header>
            <a href="{{ path('admin_home')}}">
                <!-- the image is pure decroration therefore no alt text is needed -->
                <img src="{{ asset('assets/images/cms-garden-logo.png')}}" 
                     alt=""
                     role="presentation"/>
                <span class="a11y-hidden">Back to Admin dashboard</span>
            </a>
        </header>
        <nav>
            {% block nav %}
            {%endblock %}
            
            
        </nav>
        <main>
            {% block body %}
            {% endblock %}
        </main>
    {% block javascripts %}{% endblock %}
</body>
</html>
